@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$yellow: #ffde26;
$red: #f23a37;

$primary: $black-bis;

@import "../node_modules/bulma/bulma";