@import "custom";

.is-cursive {
    font-family: 'Pacifico', cursive;
}

.salon-logo {
    max-height: 200px;
}

.navbar--padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-burger--custom {
    align-self: center;
}

.columns--accordion {
    width: 120%;
    display: flex;
}

.GoogleMap {
    border: 0; 
    height: auto;
}

.parallax {
    height: 250px;
}

@media (min-width: 640px) {
    .parallax {
        height: 300px;
    }
}

@media (min-width: 1280px) {
    .parallax {
        height: 500px;
    }
}

@media (min-width: 1920px) {
    .parallax {
        height: 800px;
    }
}

.logo {
    display: flex;
}

.logo a {
    align-self: center;
}